html {
  font-size: 18px;
  font-family: Helvetica;
}

/* Header Style*/
.company {
  background-color: black;
  color: white;
}
.company img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}
.company span {
  font-size: 1rem;
  padding: inherit: 0.66rem 0rem;
}
.company
.container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* Main banner style*/
.main-banner {
  background-image: url("../moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.newarrival {
  top: 9rem;
  background-color: black;
  color: white;
  width: 20rem;
  position: relative;
  padding: 2rem 3rem;
  line-height: 1.25;
}
.newarrival h4 {
  font-size: 1rem;
  font-weight: bold;
}
.newarrival h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.25rem 0rem;
}
/* Nav style*/
nav {
  background-color: firebrick;
  display: block;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
}
/*Product style*/
.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}
.product {
  width: 30%;
}
.product-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img {
  max-width: 8em;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
/* Business style */
.business-info {
  display: flex;
  justify-content: space-between;;
  margin: 3rem 0 0 0;
}
.info {
  width: 35%;
}
.title {
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
  display: block;
}
footer {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-top: 4rem;
  background-color: black;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .mobile-nav {
    display: block;
    text-align: center;
  }
  nav ul {
    display: none;
  }
  .product {
    width: 47%;
  }
  .info {
    width: 35%;
  }
  .product.glasses {
    display: none;
  }
}

@media only screen and (min-width:1024px) {
  .mobile-nav {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .newarrival {
    top: 10rem;
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
  }
  .newarrival h4 {
    font-size: 0.77rem;
  }
  .newarrival h1 {
    font-size: 1rem;
  }
  .product {
    width: 90%;
  }
  .product.glasses {
    display: none;
  }
  .product.watch {
    display: none;
  }
  .business-info {
    display: block;
  }
  .info {
    width: 90%;
  }
  .main-banner {
    height: 15rem;
  }
}
